<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Currículo</title>
</head>
<body class="curriculo">
    <header>
        <h1 class="title-exercicio">EXERCÍCIO 01</h1>
        <p class="descricao-exercicio">Currículo</p>
    </header>
    <div class="curriculo-content">
        <ul>
                <li>[Endereço]</li>
                <li>[Cidade, Estado e Cep]</li>
                <li>[Telefone]</li>
                <li>[Email]</li>
        </ul>

        <p class="meu-nome">Ian Vinícius Vasconcelos de Oliveira Santos</p><hr>

        <h1 class="title-objetivo">Objetivo</h1>
        <p class="paragrafo">Trabalhar em uma empresa conceituada, buscando adquirir
            experiência profissional e exercer meus conhecimentos técnicos.
        </p><hr>

        <h1 class="title-habilidades">Habilidades & Competências</h1>
        <p class="paragrafo">
            Flexibilidade: Aliquet solales volupat interdom alqueim nibb, elat garivda tichacho ruptram <br>
            Capacidade para resolver problemas: adipicidiakkfsad lkdsjfposadif ldkfjidueiorjdlk, padoifusdfl. <br>
            Trabalho em equipe: dakfjapoeirxcvm kjdflka çlxkcvjoe kdjfpoi.. kcvckvcv dkfjakd <br>
            Esforçado: dfieura s, sdpfoid, adpfidsfk.adlf adfkj dfld fkjdkfjdskfjsdçlfkjsduieww ee ewe <br>
            Produtivo – Temposalf ksadçlf sfds fsdjf çasldjf çlsadkfj saldfkj,mcvçlkjrpoitgjvbçsadlks <br>
            Altamente qualificado: dfujsa dsfjaekroii df dasçfjdsm, dklfjdsf,;adf adslfkdsf d fkjsefljerje <br>
            Comunicativo: kjpasdofw;el,mdasf sdakf,e adsfçlkasdfjdjfmerkejçl
        </p><hr>

        <h1 class="title-experiencia">Experiência</h1>   
        <ul class="informacoes">
                <li>[CARGO, NOME DA EMPRESA] [Datas De – Até]</li>
                <li>[CARGO, NOME DA EMPRESA] [Datas De – Até]</li>
                <li>[CARGO, NOME DA EMPRESA] [Datas De – Até]</li>
                <li>[CARGO, NOME DA EMPRESA] [Datas De – Até]</li>
        </ul><hr>

        <h1 class="title-educacao">Educação</h1>   
        <ul class="informacoes">
                <li>[NOME DA INSTITUIÇÃO – LOCAL – GRADUAÇÃO]</li>
                <li>[NOME DA INSTITUIÇÃO – LOCAL – GRADUAÇÃO]</li>
                <li>[NOME DA INSTITUIÇÃO – LOCAL – GRADUAÇÃO]</li>
                <li>[NOME DA INSTITUIÇÃO – LOCAL – GRADUAÇÃO]</li>
        </ul><hr>

        <h1 class="title-comunicacao">Comunicação</h1>
        <p class="paragrafo">
            Aliquet solales volupat interdom alqueim nibb, elat garivda tichacho ruptram <br>
        </p><hr>

        <h1 class="title-referencias">Referências</h1>
        <ol class="informacoes">
            <li>[NOME DE REFERÊNCIA, Cargo, Empresa, contato]</li>
            <li>[NOME DE REFERÊNCIA, Cargo, Empresa, contato]</li>
            <li>[NOME DE REFERÊNCIA, Cargo, Empresa, contato]</li>
            <li>[NOME DE REFERÊNCIA, Cargo, Empresa, contato]</li>
        </ol>
    </div>
    <footer>&copy; Desenvolvido por Ian Vinícius Vasconcelos</footer>
</body>
</html>