<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Currículo</title>
</head>
<body class="curriculo">
    <header>
        <h1 class="title-exercicio">EXERCÍCIO 01</h1>
        <p class="descricao-exercicio">Currículo</p>
    </header>
    <div class="curriculo-content">
        <ul>
                <li>Rua Arruda</li>
                <li>Porto Velho, Rondônia</li>
                <li>(69) 4002-8922</li>
                <li>vasconcelos.iansantos@gmail.com</li>
        </ul>

        <p class="meu-nome">Ian Vinícius Vasconcelos de Oliveira Santos</p><hr>

        <h1 class="title-objetivo">Objetivo</h1>
        <p class="paragrafo">Trabalhar em uma empresa conceituada, visando adquirir
            experiência profissional e exercer meus conhecimentos técnicos.
        </p><hr>

        <h1 class="title-habilidades">Habilidades & Competências</h1>
        <p class="paragrafo">
            Flexibilidade: Aliquet solales volupat interdom alqueim nibb, elat garivda tichacho ruptram <br>
            Capacidade para resolver problemas: adipicidiakkfsad lkdsjfposadif ldkfjidueiorjdlk, padoifusdfl. <br>
            Trabalho em equipe: dakfjapoeirxcvm kjdflka çlxkcvjoe kdjfpoi.. kcvckvcv dkfjakd <br>
            Esforçado: dfieura s, sdpfoid, adpfidsfk.adlf adfkj dfld fkjdkfjdskfjsdçlfkjsduieww ee ewe <br>
            Produtivo – Temposalf ksadçlf sfds fsdjf çasldjf çlsadkfj saldfkj,mcvçlkjrpoitgjvbçsadlks <br>
            Altamente qualificado: dfujsa dsfjaekroii df dasçfjdsm, dklfjdsf,;adf adslfkdsf d fkjsefljerje <br>
            Comunicativo: kjpasdofw;el,mdasf sdakf,e adsfçlkasdfjdjfmerkejçl
        </p><hr>

        <h1 class="title-experiencia">Experiência</h1>   
        <ul class="informacoes">
                <li>Sem experiência profissional.</li>
        </ul><hr>

        <h1 class="title-educacao">Educação</h1>   
        <ul class="informacoes">
                <li>Instituto Federal de Educação, Ciência e Tecnologia de Rondônia - Campus Porto Velho Calama</li>
        </ul><hr>

        <h1 class="title-comunicacao">Comunicação</h1>
        <p class="paragrafo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum tortor sed ligula varius hendrerit. Ut commodo metus enim, sed congue lorem dictum nec. Morbi ac pharetra ex. Proin at faucibus purus, at imperdiet odio. Cras non purus sapien. Nam sit amet nulla non mi scelerisque volutpat. Praesent scelerisque augue at sapien gravida, sit amet vestibulum leo tristique. Nullam ornare turpis nisl, id consectetur leo mollis non. Ut vitae dui porttitor, dignissim enim pharetra, sagittis velit. <br>
        </p><hr>

        <h1 class="title-referencias">Referências</h1>
        <ol class="informacoes">
            <li>NOME DE REFERÊNCIA, Cargo, Empresa, contato</li>
            <li>NOME DE REFERÊNCIA, Cargo, Empresa, contato</li>
            <li>NOME DE REFERÊNCIA, Cargo, Empresa, contato</li>
            <li>NOME DE REFERÊNCIA, Cargo, Empresa, contato</li>
        </ol>
    </div>
    <footer>&copy; Desenvolvido por Ian Vinícius Vasconcelos</footer>
</body>
</html>